# Reading data

In [1]:
import pandas as pd

In [2]:
dfM = pd.read_csv("myntra_men_latest.csv")
print("shape: ", dfM.shape)
dfM.head()

shape:  (900, 10)

,gender,category,image,brand,description,price,discount,url,rating,reviews
0,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",Roadster,Solid Round Neck T-shirt,Rs. 259,(35% OFF),NaN,4.1,6.7k Verified Buyers
1,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",HRX by Hrithik Roshan,Printed T-shirt,Rs. 419,(40% OFF),https://www.myntra.com/tshirts/hrx-by-hrithik-...,NaN,NaN
2,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",DILLINGER,Striped Round Neck T-shirt,Rs. 575,(Rs. 624 OFF),https://www.myntra.com/tshirts/dillinger/dilli...,4.3,25.6k Verified Buyers
3,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",Campus Sutra,Colourblocked Round Neck T-shirt,Rs. 474,(50% OFF),https://www.myntra.com/tshirts/campus-sutra/ca...,4.3,5.5k Verified Buyers
4,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",Roadster,Men Solid Round Neck T-shirt,Rs. 259,(35% OFF),https://www.myntra.com/tshirts/roadster/roadst...,3.7,12.5k Verified Buyers

In [3]:
dfF = pd.read_csv("myntra_women_latest.csv")
print("shape: ", dfF.shape)
dfF.head()

shape:  (1000, 10)

,gender,category,image,brand,description,price,discount,url,rating,reviews
0,F,kurtas-kurtis-suits,"https://assets.myntassets.com/dpr_2,q_60,w_210...",Nayo,Printed Kurta with Trousers & Dupatta,Rs. 1479,(Rs. 2220 OFF),NaN,4.3,2.8k Verified Buyers
1,F,kurtas-kurtis-suits,"https://assets.myntassets.com/dpr_2,q_60,w_210...",Libas,Ethnic Print Kurta Set,Rs. 1319,(Rs. 1080 OFF),https://www.myntra.com/kurta-sets/libas/libas-...,NaN,NaN
2,F,kurtas-kurtis-suits,"https://assets.myntassets.com/dpr_2,q_60,w_210...",Anouk,Printed Straight Kurta,Rs. 1079,(Rs. 720 OFF),https://www.myntra.com/kurtas/anouk/anouk-wome...,4.1,11.9k Verified Buyers
3,F,kurtas-kurtis-suits,"https://assets.myntassets.com/dpr_2,q_60,w_210...",Indo Era,Printed Kurta with Trousers & Dupatta,Rs. 1559,(Rs. 2440 OFF),https://www.myntra.com/kurta-sets/indo-era/ind...,3.9,14.2k Verified Buyers
4,F,kurtas-kurtis-suits,"https://assets.myntassets.com/dpr_2,q_60,w_210...",Anubhutee,Ethnic Embroidered Kurta Set,Rs. 989,(Rs. 1210 OFF),https://www.myntra.com/kurta-sets/anubhutee/an...,4.3,4.9k Verified Buyers

In [4]:
df = pd.concat([dfM, dfF])
df.shape

(1900, 10)

# Pre-Processing

In [5]:
# Removing Varified Buyers from reviews
df["reviews"] = df["reviews"].str.split(expand=True)[0]
df

,gender,category,image,brand,description,price,discount,url,rating,reviews
0,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",Roadster,Solid Round Neck T-shirt,Rs. 259,(35% OFF),NaN,4.1,6.7k
1,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",HRX by Hrithik Roshan,Printed T-shirt,Rs. 419,(40% OFF),https://www.myntra.com/tshirts/hrx-by-hrithik-...,NaN,NaN
2,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",DILLINGER,Striped Round Neck T-shirt,Rs. 575,(Rs. 624 OFF),https://www.myntra.com/tshirts/dillinger/dilli...,4.3,25.6k
3,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",Campus Sutra,Colourblocked Round Neck T-shirt,Rs. 474,(50% OFF),https://www.myntra.com/tshirts/campus-sutra/ca...,4.3,5.5k
4,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",Roadster,Men Solid Round Neck T-shirt,Rs. 259,(35% OFF),https://www.myntra.com/tshirts/roadster/roadst...,3.7,12.5k
...,...,...,...,...,...,...,...,...,...,...
995,F,blazers-waistcoats,NaN,H&M,Green Single-breasted jacket,NaN,0,https://www.myntra.com/blazers/hm/-hm-women-gr...,4.8,6
996,F,blazers-waistcoats,NaN,FableStreet,Women Regular-Fit Blazer,Rs. 2397,(40% OFF),https://www.myntra.com/blazers/fablestreet/fab...,NaN,NaN
997,F,blazers-waistcoats,NaN,Van Heusen Woman,Women Solid Single-Breasted Regular-Fit Formal...,Rs. 1979,(10% OFF),https://www.myntra.com/blazers/van-heusen-woma...,3.9,32
998,F,blazers-waistcoats,NaN,SASSAFRAS,Women Puff Sleeves Blazer,Rs. 1259,(40% OFF),https://www.myntra.com/blazers/sassafras/sassa...,4.9,8
999,F,blazers-waistcoats,NaN,INVICTUS,Women Regular Fit Solid Blazer,Rs. 2099,(65% OFF),https://www.myntra.com/blazers/invictus/invict...,4.0,6

In [6]:
df.reviews = (df.reviews.replace(r'[Kk]+$', '', regex=True).astype(float) * df.reviews.str.extract(r'[\d\.]+([Kk]+)', expand=False).fillna(1).replace(['K','k'], [10**3, 10**3]).astype(int))
df

,gender,category,image,brand,description,price,discount,url,rating,reviews
0,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",Roadster,Solid Round Neck T-shirt,Rs. 259,(35% OFF),NaN,4.1,6700.0
1,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",HRX by Hrithik Roshan,Printed T-shirt,Rs. 419,(40% OFF),https://www.myntra.com/tshirts/hrx-by-hrithik-...,NaN,NaN
2,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",DILLINGER,Striped Round Neck T-shirt,Rs. 575,(Rs. 624 OFF),https://www.myntra.com/tshirts/dillinger/dilli...,4.3,25600.0
3,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",Campus Sutra,Colourblocked Round Neck T-shirt,Rs. 474,(50% OFF),https://www.myntra.com/tshirts/campus-sutra/ca...,4.3,5500.0
4,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",Roadster,Men Solid Round Neck T-shirt,Rs. 259,(35% OFF),https://www.myntra.com/tshirts/roadster/roadst...,3.7,12500.0
...,...,...,...,...,...,...,...,...,...,...
995,F,blazers-waistcoats,NaN,H&M,Green Single-breasted jacket,NaN,0,https://www.myntra.com/blazers/hm/-hm-women-gr...,4.8,6.0
996,F,blazers-waistcoats,NaN,FableStreet,Women Regular-Fit Blazer,Rs. 2397,(40% OFF),https://www.myntra.com/blazers/fablestreet/fab...,NaN,NaN
997,F,blazers-waistcoats,NaN,Van Heusen Woman,Women Solid Single-Breasted Regular-Fit Formal...,Rs. 1979,(10% OFF),https://www.myntra.com/blazers/van-heusen-woma...,3.9,32.0
998,F,blazers-waistcoats,NaN,SASSAFRAS,Women Puff Sleeves Blazer,Rs. 1259,(40% OFF),https://www.myntra.com/blazers/sassafras/sassa...,4.9,8.0
999,F,blazers-waistcoats,NaN,INVICTUS,Women Regular Fit Solid Blazer,Rs. 2099,(65% OFF),https://www.myntra.com/blazers/invictus/invict...,4.0,6.0

In [8]:
df["rating"] = df["rating"].fillna(df["rating"].mean())
df["reviews"] = df["reviews"].fillna(df["reviews"].mean())
df

,gender,category,image,brand,description,price,discount,url,rating,reviews
0,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",Roadster,Solid Round Neck T-shirt,Rs. 259,(35% OFF),NaN,4.100000,6700.000000
1,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",HRX by Hrithik Roshan,Printed T-shirt,Rs. 419,(40% OFF),https://www.myntra.com/tshirts/hrx-by-hrithik-...,4.163573,1135.160203
2,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",DILLINGER,Striped Round Neck T-shirt,Rs. 575,(Rs. 624 OFF),https://www.myntra.com/tshirts/dillinger/dilli...,4.300000,25600.000000
3,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",Campus Sutra,Colourblocked Round Neck T-shirt,Rs. 474,(50% OFF),https://www.myntra.com/tshirts/campus-sutra/ca...,4.300000,5500.000000
4,M,tshirts,"https://assets.myntassets.com/dpr_2,q_60,w_210...",Roadster,Men Solid Round Neck T-shirt,Rs. 259,(35% OFF),https://www.myntra.com/tshirts/roadster/roadst...,3.700000,12500.000000
...,...,...,...,...,...,...,...,...,...,...
995,F,blazers-waistcoats,NaN,H&M,Green Single-breasted jacket,NaN,0,https://www.myntra.com/blazers/hm/-hm-women-gr...,4.800000,6.000000
996,F,blazers-waistcoats,NaN,FableStreet,Women Regular-Fit Blazer,Rs. 2397,(40% OFF),https://www.myntra.com/blazers/fablestreet/fab...,4.163573,1135.160203
997,F,blazers-waistcoats,NaN,Van Heusen Woman,Women Solid Single-Breasted Regular-Fit Formal...,Rs. 1979,(10% OFF),https://www.myntra.com/blazers/van-heusen-woma...,3.900000,32.000000
998,F,blazers-waistcoats,NaN,SASSAFRAS,Women Puff Sleeves Blazer,Rs. 1259,(40% OFF),https://www.myntra.com/blazers/sassafras/sassa...,4.900000,8.000000
999,F,blazers-waistcoats,NaN,INVICTUS,Women Regular Fit Solid Blazer,Rs. 2099,(65% OFF),https://www.myntra.com/blazers/invictus/invict...,4.000000,6.000000

# Model